.main-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  padding-top: 90px;
  padding-left: 90px;
  padding-bottom: 1000px;
  background-color: rgb(245, 245, 245);
}


.tumbnail {
  width: 100%;
}
.tumbnail-row {
  margin-bottom: 12px;
  position: relative;
}

.duration {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  position: absolute;
  right: 5px;
  background-color: black;
  bottom: 8%;
  color: white;
  border-radius: 10%;


}

.image-author {
  border-radius: 50%;
  width: 40px;
  }


.video-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 15px;
}
.video-author ,
.video-stats {
  color: #606060;
  font-size: 14px;
}


.video-author {
  margin-bottom: 6px;
}
.bottom-container{
  display: flex;
}

.channel-picture {
  width: 50px

}
.video-info {
  flex: 1
}
